@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Plex';
	src: url('/fonts/Plex-Regular.woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Plex';
	src: url('/fonts/Plex-Bold.woff2');
	font-weight: bold;
	font-display: swap;
}

@layer base {
	html {
		@apply text-html;
		@apply bg-gray;
	}
	body {
		@apply text-sm;
		@apply text-white;
		@apply font-plex;
		@apply leading-none;
		@apply tracking-wide;
	}
	h1 {
		@apply text-xl;
		@apply font-bold;
		@apply leading-none;
	}
	h2 {
		@apply text-lg;
		@apply font-bold;
		@apply text-gray-light;
	}
	h3 {
		@apply text-right;
		@apply lg:text-left;
		@apply font-bold;
		@apply uppercase;
		@apply text-md;
		@apply text-gray-light;
		@apply lg:mt-6;
		@apply lg:mb-2;
	}
	h4 {
		@apply text-white;
		@apply font-bold;
		@apply text-md;
		@apply mb-1.5;
		@apply lg:mb-1;
		@apply md:mb-0.5;
	}
	a {
		@apply leading-normal;
		@apply text-gray-light;
	}
	h5 {
		@apply text-gray-light;
		@apply leading-snug;
	}
	ul {
		@apply list-disc;
		@apply list-inside;
	}
	li {
		@apply text-gray-light;
		@apply leading-normal;
	}
	p,
	label {
		@apply text-gray-light;
		@apply leading-snug;
	}
}
